body {
     padding-bottom: 60px;
     background: url('campus.jpg');
     background-size: cover;
}

h1 {
     text-align: center;
     padding-top: 70px;
     
}

h3 {
     padding-bottom: 10px;
     padding-top: 10px;
}